@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --primary-color: #180f14;
  --secondary-color: #e47194;
  --font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  /* background-origin: 'https://www.stockvault.net/data/2020/09/24/279149/preview16.jpg'; */
  background-image: url("./assets/bg_nice.jpg");
}

body,
button {
  font-family: var(--font-family);
}

::-webkit-scrollbar {
  background-color: var(--primary-color);
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  body::-webkit-scrollbar {
    display: none;
  }
}

button {
  background-color: #8f066a; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.b2 {
  margin-right: 2px;
}

.inp1 {
  background-color: #8f066a; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  padding-right: 201px;
}

.inp2 {
  background-color: #e015aad0;
  border: none;
  color: white;
  padding: 15px 142px 20px 30px;
  margin: 2px 2px;
  text-decoration: none;
  font-size: 16px;
  padding-right: 312px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}
.image{
  margin-top: 50px;
  height: 480px;
  width: 720px;
  margin-left: 200px;
  border-radius: 20px;
  border: 2px solid #643B9F;
}
h1{
  color: #fff;
  /* margin-right: 2rem; */
  
}
h3{
  color: #fff;
}

.heading{
  margin-left: 8rem;
  margin-bottom: 2rem;
}
.formm{
  margin-left: 2rem;
}
.up{
  margin-bottom: 1rem;
}
.ans{
  color: #fff;
  margin-left: 0rem;
  /* border: 5px solid #643B9F; */
  font-size: 20px;
  margin-top: 15px;
  font-weight: bold;
}
a{
  color: #fff;
  font-size: 20px;
}